# Core Python dependencies
pandas>=2.2.2
numpy>=1.26.4
psutil>=5.9.0
joblib==1.4.2

# Machine Learning and Scientific Computing
scikit-learn==1.5.1
xgboost==2.1.3
scipy>=1.13.1

# Logging and Utilities
logging>=0.5.1

# Network and Packet Processing (optional, depending on your specific NIDS implementations)
scapy>=2.6.1
netifaces>=0.11.0

# Testing and Validation
nmap>=7.93
sshpass>=1.10
curl>=8.12.1
apache2-utils>=1.5.0